<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microservice | UrlShortner</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="header">
        <h1><b>URL</b> | parsing and shortening Web App | <b>Nodejs</b> </h1>
        <h3>Short URL Generator</h3>
        <div class="sendbox">
            <form action="/api/shorturl" method="POST">
                <p>Enter the URL you want get shorten</p>
                <input class="input" type="text" placeholder="(https://www.google.com)" name="host">
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        <div class="exemple">
            <h4>Examples</h4>
            <a href="/api/shorturl/1">/api/shorturl/1</a>
            <p>Will redirect you to https://www.google.com</p>
        </div>
    </div>
</body>
</html>